/* BODY SETTINGS */
*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
body {
    padding-top     : 3em;

    width           : 100%;
    height          : 100%;
    font-family     : sans-serif;
    background-color: var(--backgroundcolor-1);

    position        : relative;
    overflow        : hidden;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

/* INPUT SETTINGS */
input::placeholder {color: rgba(115, 115, 115, 1);}
.nameinput, .chatinput {
    width           : 100%;
    height          : 100%;
    border          : none;
    outline         : none;
    color           : var(--fontcolor-2);
    caret-color     : rgba(115, 115, 115, 1);
    background-color: var(--backgroundcolor-2);
}

/* IMAGE SETTINGS */
img {
    -webkit-user-drag  : none;        
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    pointer-events     : auto;
}
img[src=""], img:not([src]) {display: none;}

/* SHAPE SETTINGS */
:root {
    --fontweight        : bold;
    --borderadius-circle: 50%;
}
.items-fullsize {width: 100%; height: 100%;}


