/* BODY SETTINGS */
*, *::before, *::after {box-sizing: border-box; margin: 0; padding: 0;}
body {
    padding-top     : 3em;

    width           : 100%;
    height          : 100%;
    font-family     : sans-serif;
    background-color: var(--backgroundcolor-1);

    position        : relative;
    overflow        : hidden;

}

/* INPUT SETTINGS */
input::placeholder {color: rgba(115, 115, 115, 1);}
.nameinput {
    padding-left    : 0.6em;

    width           : 100%;
    height          : 100%;
    border          : none;
    outline         : none;
    color           : var(--fontcolor-1);
    caret-color     : rgba(115, 115, 115, 1);
    background-color: var(--backgroundcolor-2);

}
.chatinput {
    padding-left    : 0.6em;

    width           : 100%;
    height          : 100%;
    border          : none;
    outline         : none;
    color           : var(--fontcolor-2);
    caret-color     : rgba(115, 115, 115, 1);
    background-color: var(--backgroundcolor-2);

}

/* IMAGE SETTINGS */
img {
    -webkit-user-drag  : none;        
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    pointer-events     : auto;
}
img[src=""], img:not([src]) {display: none;}

/* SHAPE SETGS */
:root {
    --fontweight        : bold;
    --borderadius-circle: 50%;
}
.items-fullsize {width: 100%; height: 100%;}

/* THEME SETGS */
:root {

    /* THEME VARS */
    --darkmode-fontcolor-1       : rgba(100, 100, 100, 1);
    --lightmode-fontcolor-1      : rgb(255, 255, 255);

    --darkmode-fontcolor-2       : rgba(200, 200, 200, 1);
    --lightmode-fontcolor-2      : rgb(50, 50, 50);

    --darkmode-backgroundcolor-1 : rgba(18, 21, 32, 1);
    --lightmode-backgroundcolor-1: rgba(255, 255, 255, 1);

    --darkmode-backgroundcolor-2 : rgba(34, 37, 48, 1);
    --lightmode-backgroundcolor-2: rgb(255, 255, 255);

    --darkmode-backgroundcolor-3 : rgba(50, 53, 64, 1);
    --lightmode-backgroundcolor-3: rgba(255, 255, 255, 1);

    --darkmode-backgroundcolor-4 : rgba(66, 69, 80, 1);
    --lightmode-backgroundcolor-4: rgba(255, 255, 255, 1);

    /* INTER VARS > THEME VARS */
    --fontcolor-1      : var(--darkmode-fontcolor-1);
    --fontcolor-2      : var(--darkmode-fontcolor-2);
    --backgroundcolor-1: var(--darkmode-backgroundcolor-1);
    --backgroundcolor-2: var(--darkmode-backgroundcolor-2);
    --backgroundcolor-3: var(--darkmode-backgroundcolor-3);
    --backgroundcolor-4: var(--darkmode-backgroundcolor-4);
}


