/* NAVBAR */
.navbar {
    top            : 0;
    padding        : 0.4em 0.6em 0.4em 0.6em;
    gap            : 0.6em;

    width          : 100%;
    height         : 3em;

    position       : fixed;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

/* WEB AVATAR & WEB NAME CONTAINER > NAVBAR */
.webavatar-webname {
    gap            : 0.6em; 

    width          : fit-content;
    height         : 100%;

    display        : flex;
    align-items    : center;
    justify-content: center;
}
.webavatar {
    height          : 100%;
    aspect-ratio    : 1/1;
    max-width       : 3em;
    border          : none;
    outline         : none;
    border-radius   : var(--borderadius-circle);
    background-color: var(--backgroundcolor-2);

    cursor          : pointer;
    overflow        : hidden;
    display         : flex;
    align-items     : center;
    justify-content : center;
}
.webname {
    width      : fit-content;
    height     : fit-content;
    font-size  : 1.1em;
    font-weight: var(--fontweight);
    color      : var(--fontcolor-2);
}

/* ADD NAME & BUTTON NAME CONTAINER > NAVBAR */
.addname-buttonname {
    gap    : 0.2em;

    width  : fit-content;
    height : 100%;
    
    display: flex;
}
.addname {
    padding         : 0.6em 0.3em 0.6em 0.6em;

    width           : fit-content;
    height          : 100%;
    border-radius   : 2em 0 0 2em;
    background-color: var(--backgroundcolor-2);
}
.buttonname {
    padding         : 0.9em;

    height          : 100%;
    aspect-ratio    : 1/1;
    max-width       : 3em;
    border          : none;
    outline         : none;
    border-radius   : 0 2em 2em 0;
    background-color: var(--backgroundcolor-2);

    cursor          : pointer;
    display         : flex;
    align-items     : center;
    justify-content : center;
}
.buttonname:hover {
    background-color: var(--backgroundcolor-3);
}

/* SIDEBAR */
.sidebar {
    width         : fit-content;
    height        : 100%;
    
    display       : flex;
    flex-direction: column;
}

/* CHAT BOX CONTAINER > SIDE BAR */
.chat-boxcontainer {
    width         : fit-content;
    height        : 100%;
    
    display       : flex;
    flex-direction: column;
}

/* CHAT CONTAINER > CHAT BOX CONTAINER */
.chat-container {
    padding        : 0.6em;
    gap            : 0.6em;     

    width          : 100%;
    height         : 100%;

    scroll-behavior: smooth; 
    overflow-y     : auto; 
    display        : flex;
    flex-direction : column;       
}
.chat-container::-webkit-scrollbar {width: 0;}
.chat-container::-webkit-scrollbar-thumb {width: 0;}
.username-chat {
    gap      : 0.2em;

    width    : 100%;
    max-width: 30em;
    height   : fit-content;
}
.chat-username {
    width      : 100%;
    height     : fit-content;
    color      : rgba(102, 51, 153, 1);
    font-weight: 100; 
}
.chat {
    font-size : 1.2em;
    color     : var(--fontcolor-2);
    word-break: break-all;
}
.chat a {
    color     : rgba(51, 153, 76, 1);    
    word-break: break-all; 

    cursor    : pointer;
}

/* CHAT FORM & BUTTON SEND CONTAINER > CHAT CONTAINER */
.chatform-buttonsend {
    bottom     : 0;
    padding    : 0 0.6em 0.6em 0.6em;

    width      : 100%;
    height     : 3em;

    display    : flex;
    align-items: center;
}
.chatform {
    padding         : 0.6em 0.3em 0.6em 0.6em;
    gap             : 0.4em;

    width           : 100%;
    height          : 100%;
    border-radius   : 2em 0 0 2em;
    background-color: var(--backgroundcolor-2);
}
.buttonsend {
    padding         : 1em;

    height          : 100%;
    aspect-ratio    : 1/1;
    max-width       : 3em;
    border          : none;
    outline         : none;
    border-radius   : 0 2em 2em 0;
    background-color: var(--backgroundcolor-2);

    cursor          : pointer;
    display         : flex;
    align-items     : center;
    justify-content : center;

}
.buttonsend:hover {
    background-color: var(--backgroundcolor-3);
}



